.footer {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
/* position: fixed; */
/* bottom: 0; */
    width: 100%;
  }
  .footer-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer a {
    color: black;
    opacity: 0.5;
    text-decoration: none;
    font-size: 30px;
    padding: 0px 10px;
  }
  .footer a:hover {
    /* color: $danger; */
    opacity: 1;
  }

