
.disclaimer {
  background-color: bisque;
  border-radius: 5px;
  padding: 15px;
}
.containerq {
  margin-right: 0;
  margin-left: 0;
  background-color: rgb(238, 238, 238);
}
.blind {
  opacity: 0;
}
.map {
  border-radius: 5px;
}
p {
  font-size: 18px;
}
